.common-wrapper
    width: 6.4rem;
    margin: 0 auto
.common-top-bar
    position: fixed;
    width: 6.4rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    color: rgb(255, 255, 255);
    left: 50%;
    top: 0;
    margin-left: -3.2rem;
    font-size: .28rem;
    background:#ffde1f;
input:focus, textarea:focus, select:focus
    outline: none 
